body {
    background-color: grey;
}


li {
    display: inline-flex;
}

a {
    text-decoration: none;
    display: flex;
    color: black;
    margin-right: 99px;
}

#ruimte {
    height: 50px;
    border: 1px solid black;
}

#ruimte2 {
    height: 50px;
    border: 1px solid black;
}

/* de box waar alles in staat */
#projecten {
    border: 1px solid black;
    display: inline-flex;
}

/* tekst */

#tekst1 {
    border: 1px solid black;
    height: 150px;
    width: 50%;
}

#tekst2 {
    border: 1px solid black;
    height: 150px;
    width: 50%;
}

#tekst3 {
    border: 1px solid black;
    height: 150px;
    width: 50%;
}

/* fotos */

#foto1 {
    border: 1px solid black;
    height: 150px;
    width: 50%;
}

#foto2 {
    border: 1px solid black;
    height: 150px;
    width: 50%;
}

#foto3 {
    border: 1px solid black;
    height: 150px;
    width: 50%;
}





/* hier staat project 3 */

#container{
    width: 450px;
    height: 150px;
    background-color: gold;
    border: 1.5px solid black;
}

#bovenkant{
    width: 450px;
    height: 50px;
    background-color: red;
}

#middenkant{
    width: 450px;
    height: 50px;
    background-color: white;
}

#onderkant{
    width: 450px;
    height: 50px;
    background-color: blue;
}

button{
    height: 40px;
    width: 40px;
}

#nazi {
    background-color: transparent;
    border: 0px solid transparent;
}