body {
    background-color: grey;
}


li {
    display: inline-flex;
}

a {
    text-decoration: none;
    display: flex;
    color: black;
    margin-right: 99px;
}

#ruimte {
    height: 50px;
    border: 1px solid black;
}

#ruimte2 {
    height: 50px;
    border: 1px solid black;
}



/* de main container */

#vaardigheid {
    border: 1px solid black;
}