body {
    background-color: grey;
}


li {
    display: inline-flex;
}

a {
    text-decoration: none;
    display: flex;
    color: black;
    margin-right: 99px;
}

#ruimte {
    height: 50px;
    border: 1px solid black;
}

#ruimte2 {
    margin-top: 5px;
    height: 50px;
    border: 1px solid black;
}



/* de main container */

#vaardigheid {
    margin-top: 5px;
    border: 1px solid black;
}


/* hier staan de balken */

#balk1 {
    border: 1px solid black;
    height: 50px;
}

#balk2 {
    border: 1px solid black;
    height: 50px;
}

#balk3 {
    border: 1px solid black;
    height: 50px;
}

#balk4 {
    border: 1px solid black;
    height: 50px;
}

#balk5 {
    border: 1px solid black;
    height: 50px;
}